# **Comparing different models**

In [5]:
import pandas as pd
import os
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, ConfusionMatrixDisplay
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from matplotlib import pyplot as plt

In [6]:
print("Current Working Directory:", os.getcwd())

Current Working Directory: /Users/gabrielaarzate/Desktop/predicting_startup_succes/notebooks

In [7]:
notebook_directory = 'notebooks'
file_name = 'cleaned_data.csv'
file_path = os.path.join('..', 'notebooks', 'cleaned_data.csv')
data_df = pd.read_csv(file_path, encoding="ISO-8859-1")

In [8]:
data_df

,state_code,city,closed_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,...,founded_year,negative_first_funding,negative_last_funding,negative_first_milestone,negative_last_milestone,is_outlier,age,founded_at_days,first_funding_at_days,last_funding_at_days
0,0,0,0,0.1534,2.3425,0.0630,1.5836,8,2,3000000,...,0,1,0,0,0,0,4.2601,9339,9283,10194
1,0,1,0,0.2164,4.8438,0.2164,6.2466,22,5,70000000,...,1,0,0,0,0,0,6.2916,8582,8661,10350
2,1,2,0,1.8822,1.8822,1.6603,3.0247,5,1,1000000,...,0,0,0,0,0,0,4.7365,9132,9819,9819
3,1,2,0,1.3014,2.4685,0.0000,2.4685,3,2,1800000,...,2,0,0,0,0,0,3.0198,9740,10215,10641
4,0,3,0,1.2164,1.2164,1.4164,2.6822,6,1,5500000,...,3,0,0,0,0,0,2.6804,9862,10306,10306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,1,2,1,0.0000,3.9288,2.9151,5.7342,16,3,18000000,...,8,0,0,0,0,0,7.1485,8284,8284,9718
919,9,103,1,5.6301,8.7589,8.5041,8.7589,9,5,122500000,...,9,0,0,0,0,0,13.8289,5844,7899,9041
920,0,3,1,0.5178,0.5178,0.5808,4.5260,9,1,1100000,...,0,0,0,0,0,0,4.8268,9132,9321,9321
921,0,3,1,0.7589,2.8329,0.7589,3.8356,12,2,15500000,...,0,0,0,0,0,0,4.8268,9132,9409,10166
922,0,53,1,3.1205,3.1205,4.0027,4.0027,4,1,20000000,...,6,0,0,0,0,0,10.8282,6940,8079,8079